.edit-car-form,
.add-car-form {
  background: white;
  padding: 25px;
  margin: 60px auto;
  width: 40%;
  border-radius: 15px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);
  text-align: left;
}

.edit-car-form label,
.add-car-form label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
  color: #333;
}

.edit-car-form input,
.add-car-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}

.edit-car-form input:focus,
.add-car-form input:focus {
  border-color: #ff416c;
  box-shadow: 0px 0px 8px rgba(255, 75, 43, 0.5);
}
